################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudioWeb/bin/Debug/net7.0
/StudioWeb/appsettings.Development.json
/StudioWeb/appsettings.json
/StudioWeb/ScaffoldingReadMe.txt
/.vs
*.editorconfig
/StudioWeb/obj
/StudioAdminData/bin/Debug/net7.0
/StudioWeb.Test/bin/Debug/net7.0
/StudioWeb.Test/obj
/StudioAdminData/obj/Release/net7.0
/StudioAdminData/obj/Debug/net7.0/StudioData.assets.cache
/StudioAdminData/obj/Debug/net7.0/StudioData.AssemblyInfo.cs
/StudioAdminData/obj/Debug/net7.0/StudioData.AssemblyInfoInputs.cache
