################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StudioWeb/bin/Debug/net7.0
/StudioWeb/appsettings.Development.json
/StudioWeb/appsettings.json
/StudioWeb/ScaffoldingReadMe.txt
/.vs
*.editorconfig
/StudioWeb/obj
/StudioAdminData/bin/Debug/net7.0
/StudioWeb.Test/bin/Debug/net7.0
/StudioWeb.Test/obj
/StudioAdminData/obj/Release/net7.0
/StudioAdminData/bin/Debug/net7.0/StudioData.dll
/StudioAdminData/bin/Debug/net7.0/StudioData.pdb
/StudioAdminData/obj/Debug/net7.0/ref/StudioData.dll
/StudioAdminData/obj/Debug/net7.0/refint/StudioData.dll
/StudioAdminData/obj/Debug/net7.0/StudioData.assets.cache
/StudioAdminData/obj/Debug/net7.0/StudioData.csproj.FileListAbsolute.txt
/StudioAdminData/obj/Debug/net7.0/StudioData.dll
/StudioAdminData/obj/Debug/net7.0/StudioData.genruntimeconfig.cache
/StudioAdminData/obj/Debug/net7.0/StudioData.pdb
/StudioAdminData/obj/Debug/net7.0/StudioData.sourcelink.json
/StudioAdminData/obj/project.assets.json
/StudioAdminData/obj/project.nuget.cache
/StudioAdminData/obj/StudioData.csproj.nuget.dgspec.json
