@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<div class="row justify-content-center">
    <div class="col-4 mt-5 justify-content-center" style="border-radius: 13px">
        <div class="card login-logout-card bg-dark" style="border-radius: 13px">
            <div class="card-header bg-secondary" style="border-top-left-radius: 13px; border-top-right-radius: 13px">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Login">
                            Login
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Register">
                            Registrar
                        </a>
                    </li>
                </ul>
            </div>
            <div class="card-body" style="min-height:600px;">
                <div class="row justify-content-center">
                    <div class="col-12 my-4">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        $(function () {
            const currentPage = location.pathname;
            $('nav-tabs li a').each(function () {
                const $this = $(this);
                if (currentPage.toLowerCase().indexOf($this.attr('href').toLowerCase()) !== -1) {
                    $this.addClass('active');
                }
            })
        })

        function togglePasswordVisibility(inputId) {
            var passwordInput = $("#" + inputId);
            if (passwordInput.val().trim() !== "") {
                if (passwordInput.attr("type") === "password") {
                    passwordInput.attr("type", "text");
                } else {
                    passwordInput.attr("type", "password");
                }
            }
        }
    </script>
}