@using Microsoft.AspNetCore.Identity
@using StudioData.Data

@inject SignInManager<StudioWebUser> SignInManager
@inject UserManager<StudioWebUser> UserManager
@{
    var userr = User;
    var isSigned = SignInManager.IsSignedIn(User);
    var some = SignInManager.UserManager.GetUserAsync(User);
}
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await @UserManager.GetUserAsync(User);

        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
        <li class="nav-item">
            <a id="manage" class="nav-link text-white" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hola @user.PilaName !</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link btn btn-link text-white border-0">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
